<!DOCTYPE html>
<html lang="fr">

<head>
  <title>
    Challenge Lecture - Octobre 2022
  </title>
  <meta property="og:title" content="FabDev Opensource bar chart race generator">
  <meta property="og:description"
    content="Generate your own bar chart race from a csv file thanks to this open source tool made by FabDev">
  <meta property="og:url" content="https://fabdevgit.github.io/barchartrace/">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="css/bordel.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" href="css/favicon.png">
</head>

<body>
  <section class="section2">
    <h1 id="main-title" class="bigtitle">Challenge Lecture 2022</h1>
    <nav class="floating-menu">
      <a href="#lechallenge">1. Le challenge</a>
      <a href="#leschiffres">2. Les chiffres</a>
      <a href="#leslectures">3. Les lectures</a>
      <a href="#lesbadges">4. Les badges</a>
      <a href="#barchartrace">5. Le classement</a>
      <a href="#podium">6. Le podium</a>
    </nav>
    <div class="logo"><img class="logo" src="./img/logo.png" /></div>

    <div class="container">
      <h2 id="lechallenge" class="maintitle">1. Le challenge</h2>
      <div class="card-vert clairclair">
        <img class="slide" src="./img/slide01.png" />
      </div>
    </div>

    <div class="container">
      <h2 id="leschiffres" class="maintitle">2. Les chiffres</h2>
      <div class="card-vert clairclair">
        <div class="reveal">
          <label class="reveal" for="titres2022">Nombre de titres lus ?</label>
          <input class="lereveal" type="checkbox" name="one" id="titres2022">
          <div class="hide">
            <img class="slide" src="./img/slide02.png" />
            <h3 class="soustitres">Types de lectures</h3>
            <img class="slide" src="./img/slide03.png" />
            <img class="slide" src="./img/treechart.png" />
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="card-vert clairclair">
        <div class="reveal">
          <label class="reveal" for="pages2022">Nombre de pages lues en 2022 ?</label>
          <input class="lereveal" type="checkbox" name="one" id="pages2022">
          <div class="hide">
            <img class="slide margin80" src="./img/pages2022.png" />
            <img class="slide margin80" src="./img/slide04.png" />
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="card-vert clairclair">
        <div class="reveal">
          <label class="reveal" for="persmoy">Personne moyenne ?</label>
          <input class="lereveal" type="checkbox" name="one" id="persmoy">
          <div class="hide">
            <img class="slide" src="./img/slide04.5.png" />
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="card-vert clairclair">
        <div class="reveal">
          <label class="reveal" for="livremoy">Livre moyen ?</label>
          <input class="lereveal" type="checkbox" name="one" id="livremoy">
          <div class="hide">
            <img class="slide" src="./img/slide05.png" />
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="card-vert clairclair">
        <div class="reveal">
          <label class="reveal" for="webtoonmoy">Webtoon moyen ?</label>
          <input class="lereveal" type="checkbox" name="one" id="webtoonmoy">
          <div class="hide">
            <img class="slide" src="./img/slide06.png" />
            <img class="slide margin80" src="./img/slide07.png" />
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <h2 id="leslectures" class="maintitle">3. Les lectures</h2>
      <div class="card-vert clairclair">

        <img class="slide" src="./img/genres2021.png" />
        <h3 class="soustitres">Les genres</h3>
        <a class="hovering">
          <img class="slide" src="./img/slide08.png" /> 
          <img class="slide" src="./img/slide09.png" />
       </a>
      </div>
    </div>

  
    <div class="container">
      <h2 id="lesbadges" class="maintitle">4. Les badges</h2>
      <div class="card-vert clairclair">
        <img class="slide" src="./img/slide99.png" />
      </div>
    </div>

  </section>

  <main class="main-content" id="app">

    <section class="section">
      <div class="container">
        <h2 id="barchartrace" class="maintitle">5. Le classement</h2>
        <div class="card border">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <form @submit="checkForm">
                  <div v-if="errors.length">
                    <b>Please correct the following error(s):</b>
                    <ul>
                      <li v-for="error in errors">(( error ))</li>
                    </ul>
                  </div>
                  <div class="form-group">
                    <label for="customFile">Fichier CSV</label>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="customFile" @change="loadFile"
                        accept=".csv, text/plain, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                        aria-describedby="passwordHelpBlock">
                      <small id="passwordHelpBlock" class="form-text text-muted">
                        <a href="#myModal" data-toggle="modal">Formats acceptés</a>
                      </small>

                      <label class="custom-file-label" for="customFile" ref="filelabel">((fileplaceholder))</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="duration">Durée de l'animation (en s)</label>
                    <input id="duration" v-model="duration" class="form-control" type="number" name="duration" min="0">
                  </div>
                  <div class="form-group">
                    <label for="top_n">Nombre de barres à afficher</label>
                    <input id="top_n" v-model="top_n" class="form-control" type="number" name="top_n" min="0">
                  </div>
                  <div class="form-group">
                    <label for="title">Titre</label>
                    <input id="title" v-model="title" class="form-control" type="text" name="title">
                  </div>
                  <div class="form-group text-center">
                    <button type="button" v-if="!csv_data" class="btn btn-outline-primary disabled">Génerer le
                      graph</button>
                    <button type="submit" v-if="csv_data" class="btn btn-primary">Génerer le graph</button>
                  </div>
                </form>
              </div>
              <div class="col-lg-6 border-left d-lg-block">
                <label for="">Fichiers d'exemple</label>
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <td>StackOverflow questions per language</td>
                      <td><a href="#" @click.prevent="loadExample('stackoverflow')">Charger</a></td>
                      <td><a href="datasets/stackoverflow.csv">Télécharger</a></td>
                    </tr>
                    <td>Challenge lecture 2022</td>
                    <td><a href="" @click.prevent="loadExample('challenge')">Charger</a></td>
                    <td><a href="datasets/challenge.csv">Télécharger</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div id="chart-card" class="card">
          <div class="card-body position-relative">
            <div>
              <button type="button" class="btn btn-xs btn-outline-primary" v-on:click="checkForm">Restart</button>
              <button type="button" class="btn btn-xs btn-outline-primary" v-on:click="stopRace">Stop</button>
            </div>
            <h5 class="card-title" id="graph-title">((title))</h5>
            <div id="chartDiv" style="width:100%; height: 650px"></div>
            <p style="position:absolute;top:50%;left:50%;font-size:1.125rem;transform: translate(-50%,-50%)"
              v-if="interval == null">Commencez par charger les données</p>
          </div>
        </div>
      </div>
    </section>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel">Accepted csv formats</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Input should be a csv file. <br>
              Dates should be <span class="font-weight-bold">YYYY-MM-DD</span>.</p>
            <p><span class="font-weight-bold">Option 1 :</span> one row per date (ordered) and one column per contender
            </p>
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th>Date</th>
                  <th>Name1</th>
                  <th>Name2</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>2018-01-01</td>
                  <td>1</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>2018-02-01</td>
                  <td>2</td>
                  <td>3</td>
                </tr>
                <tr>
                  <td>2018-03-01</td>
                  <td>4</td>
                  <td>7</td>
                </tr>
              </tbody>
            </table>
            <p><span class="font-weight-bold">Option 2 :</span> one row per contender and per date</p>
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th>Date</th>
                  <th>Name</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>2018-01-01</td>
                  <td>Name1</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>2018-01-01</td>
                  <td>Name2</td>
                  <td>3</td>
                </tr>
                <tr>
                  <td>2018-02-01</td>
                  <td>Name1</td>
                  <td>2</td>
                </tr>
                <tr>
                  <td>2018-02-01</td>
                  <td>Name2</td>
                  <td>3</td>
                </tr>
                <tr>
                  <td>2018-03-01</td>
                  <td>Name1</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td>2018-03-01</td>
                  <td>Name2</td>
                  <td>7</td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.min.js"></script>
  <script src="js/d3.v5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <script src="js/barchartrace.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        errors: [],
        file: null,
        csv_data: null,
        interval: null,
        duration: 20,
        tickDuration: 500,
        top_n: 10,
        title: "Super graphique",
        fileplaceholder: "Choisir un fichier"
      },
      methods: {
        loadExample: function (setting_name) {
          var self = this;
          self.duration = settings[setting_name].duration;
          self.top_n = settings[setting_name]['top_n'];
          self.title = settings[setting_name].title;
          Papa.parse(settings[setting_name].url, {
            download: true,
            header: true,
            skipEmptyLines: true,
            complete: function (results) {
              if (Object.keys(results.data[0]).length === 3) {
                results.data = reshapeData(results.data)
              }
              self.csv_data = results.data;
            }
          }
          )
        },
        loadFile: function (e) {
          var self = this;
          this.file = e.target.files[0];
          this.fileplaceholder = this.file.name;
          Papa.parse(self.file, {
            header: true,
            skipEmptyLines: true,
            complete: function (results) {
              if (Object.keys(results.data[0]).length === 3) {
                results.data = reshapeData(results.data)
              }
              self.csv_data = results.data;
              self.top_n = Math.min(20, Object.keys(self.csv_data[0]).length - 1)
            }
          });


        },
        stopRace: function () {
          if (!this.interval) {
            return
          } else {
            this.interval.stop()
          }
        },
        checkForm: function (e) {
          var self = this;
          if (self.interval !== null) {
            self.interval.stop()
          }
          if (!this.csv_data) {
            return
          }
          if (self.tickDuration && self.top_n) {
            e.preventDefault();
            this.top_n = parseInt(self.top_n);
            this.duration = parseInt(self.duration);
            this.tickDuration = self.duration / self.csv_data.length * 1000
            let chartDiv = document.getElementById("chartDiv");
            var data = JSON.parse(JSON.stringify(self.csv_data))
            self.interval = createBarChartRace(data, self.top_n, self.tickDuration);
          }

          self.errors = [];

          if (!self.csv_data) {
            self.errors.push('csv file is required');
          }
          if (!self.tickDuration) {
            self.errors.push('Time between frames required.');
          }
          if (!self.top_n) {
            self.errors.push('Number of bars to display required.');
          }
          e.preventDefault();
          window.scrollTo({ top: $("#chart-card").offset().top - 10, behavior: 'smooth' });
        }
      },
      delimiters: ["((", "))"]

    });


    /*
    reshapes the data from the second accepted csv format to the other :
    (one row per contender and per date) => (one row per date (ordered) and one column per contender.)
    */
    function reshapeData(data) {
      // groupby dates (first column)
      column_names = new Set(data.map(x => x[Object.keys(x)[1]]));
      const grouped_by_date = _.groupBy(data, (e) => e[Object.keys(e)[0]]);
      return Object.keys(grouped_by_date).sort().map((k) => {
        item = { 'date': k };
        column_names.forEach((n) => item[n] = 0);
        grouped_by_date[k].forEach((e) => item[e[Object.keys(e)[1]]] = e[Object.keys(e)[2]]);
        return item
      })

    }

    // settings for the example data
    const settings = {
      "stackoverflow": {
        "duration": 30,
        "top_n": 10,
        "title": "StackOverflow questions per language",
        "url": "https://raw.githubusercontent.com/FabDevGit/barchartrace/master/datasets/stackoverflow.csv"
      },
      "challenge": {
        "duration": 60,
        "top_n": 10,
        "title": "Challenge lecture - Octobre 2022 (en pages lues pondérées)",
        "url": "https://valiero.net/challengebar/datasets/challenge.csv"
      }
    }
  </script>


  <section class="section">
    <div class="container">
      <h2 id="flourish" class="maintitle">Line Chart Race</h2>
      <div class="card border">
        <div class="card-body">
          <div class="flourish-embed flourish-chart" data-src="visualisation/11717793">
            <script src="https://valiero.net/challengebar/js/embed.js"></script>
          </div>
        </div>
      </div>
    </div>
  </section>

<section class="section3">
  <div class="container">
    <h2 id="podium" class="maintitle">6. Le podium</h2>
    <div class="card-vert clairblanc">
      <img class="slide" src="./img/slide20.png"/>
    </div>
    <div class="card-vert clairblanc center">
      <div class="anim-floating">
        <img src="./img/couronne.png" alt="Julie #1" />
      </div>
      <img class="slide40" src="./img/podium.png"/>
    </div>
    <p class="texte1">The end. <br />Merci pour votre attention.</p>
      <p class="texte2"><a href="https://challenge.up.railway.app/dashboard/#/signin">Vers Nocodb</a></p>
  </div>

</section>



</body>

</html>